body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, #1753c3, #ff0000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    margin-bottom: 20px;
    font-family: cursive;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #13c95f;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #2ecc71;
}

p {
    margin-top: 20px;
    font-size: 20px;
    font-family: cursive;
}
